.copyBtn {
  margin: 3px 0px 3px 20px;
  padding: 1px 6px;
  color: #007fff;
  background: white;
  border: 1px solid rgba(25, 118, 210, 0.5);
  outline: none;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.copyBtn:hover {
  background-color: rgba(25, 118, 210, 0.04);
  border: 1px solid rgb(25, 118, 210);
}
